<!-- Modal -->
<div class="modal fade" id="delete_warning" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="delete_warning_label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="delete_warning_label">⚠️警告</h5>        
      </div>
      <div class="modal-body">資料移除後無法復原<br>是否確認要刪除?</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">取消</button>
        <button type="submit" class="btn" style="background-color:#4592af; color:white " 
        id="confirm-delete-button">確定</button>
      </div>
    </div>
  </div>
</div>